src/com/macisdev/pizzashopwebservice/resources/schema.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="order">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="order_info">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element type="xsd:long" name="order_datetime"/>

              <xsd:element name="customer_name">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>

              <xsd:element type="xsd:long" name="customer_phone"/>

              <xsd:element name="delivery_method">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>

              <xsd:element name="customer_address">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>

              <xsd:element name="payment_method">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>

			  <xsd:element type="xsd:int" name="order_status"/>

              <xsd:element type="xsd:float" name="total_price"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="pizza" maxOccurs="unbounded" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element type="xsd:short" name="code"/>
              <xsd:element type="xsd:string" name="name"/>
              <xsd:element type="xsd:string" name="size"/>
              <xsd:element type="xsd:string" name="extras"/>
              <xsd:element type="xsd:float" name="price"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>